<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Welcome to our site!</p>
    
    <p>verify yourself by you OTP: <%= @otp %> </p>
  </body>
</html>