<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>You got a new order from @user !</p>
    <p>
    Order details<br>
    --------------------------
    </p>
    <p>Name: </p>
    <p>Email: </p>
    <p>Address: </p>
    <p>Phone: </p>
    <p>
    Message:<br>
    ----------
    </p>
    <p></p>
  </body>
</html>